@tailwind base;
@tailwind components;
@tailwind utilities;



/* Custom styles for LSafe */

body {
  font-family: 'Inter', sans-serif;
  @apply bg-white text-gray-900 transition-colors duration-200;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}

/* Any further custom animations or styles can be added here */
